/*
Theme Name:   Didik Malaysia
Theme URI:    http://www.Didik Malaysia.com/
Author URI:   http://www.Didik Malaysia.com/
Description:  The 2013 theme for WordPress is sophisticated, lightweight, and adaptabl
Version:      2.5.1
Author:       Flamingo Mobile Apps Studio
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  twentyeleven
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu
*/


body{font-family:'Open Sans', sans-serif;}
body, td, th {font-family:'Open Sans', sans-serif!important; letter-spacing: 0px!important;}
*{text-decoration:none;}
*:focus{outline:none;}
img{max-width:100%;border:none;}
a{outline:none;}
/* .gallery-wrap ul.gallery-tab, .gallery-wrap ul.gallery-tab li.last a, .gallery-wrap ul.gallery-tab li:first-child a{behavior: url(../PIE-1.0.0/PIE.htc);} */
/*header css start*/
.container{max-width:1124px;padding:0 10px;margin:0 auto;}
.header-top{background:#34495e;width:100%;float:left;border-bottom:1px solid #2b3a49;}
.header-middle{width:100%;float:left;}
.logo{position:relative;left:8%;float:left;line-height:33px;}
.nav{width:43%;text-align:center;float:left;padding: 0 0 0 12.15%;}
.res_menu {float: left;position: relative;width: 100%;}
.res_menu ul li {cursor: pointer;display: none;float: right;margin-right: 10px;}
.menu{width:59%;float:right;}
.mainContr { width: 100%; float: left;}
.mainContr.down { width: 100%; float: left; margin-top: 100px;z-index:999999; }
.menu ul{list-style:none;}
.menu ul li{display:inline-block;}
.menu ul li a{font-size:18px;line-height:66px;font-weight:700;padding:0 21px;color:#fff;text-transform:capitalize;display:block;text-decoration:none;font-family:'Open Sans', sans-serif;}
.menu ul li a:hover{background:url(../images/hover-bg.png) no-repeat left top;text-decoration:none;}
.search-wrap{float: right;left: -12.6%;margin: 22px 0 19px 0;position: relative;}
.search{width: 105px;}
.header-bottom.smaller { position: fixed; top: 0px; left: 0px; z-index: 999999; }
.mainContr.down #news { width: 100%; float: left;  }
.select-btn{width:80px;line-height:20px;float:left;}
.stylish-select .select-btn .SSContainerDivWrapper {margin:0;padding:0;width:100%;position:absolute;top:20px!important;left:0px !important;z-index:2;border:none;background:#fff;}
.stylish-select .select-btn ul.newList {margin:0;padding:0;list-style:none;background: transparent;border:none; overflow: auto;overflow-x: hidden; width:100%!important;height:auto!important;border:none;}
.stylish-select .select-btn ul.newList * {float: left;margin:0;padding:0;border:none; width:100%!important; }
.stylish-select .select-btn ul.newList a {display:block;text-decoration:none;padding: 0 4% 0 11%; width:100%!important; font-size:14px;color:#34495e ;background:#fff;text-align:left;text-transform:capitalize;font-weight:300;}
.stylish-select .select-btn .newListSelected {float:left;width:100%;height:20px;padding:0;background:#fff url(../images/down.png) no-repeat 95% center;}
.stylish-select .select-btn .newListSelected:hover{float:left;width:100%;height:20px;padding:0;background:#666 url(../images/down.png) no-repeat 95% center;}
.stylish-select .select-btn .selectedTxt {width:100%;overflow:hidden;height:20px;padding: 0 8% 0 11%; font-size:14px;color:#34495e;text-align:left;line-height:20px;box-sizing:border-box;;font-weight:300;}
.stylish-select .select-btn .selectedTxt:hover {color:#ccc;}
.stylish-select .select-btn .newListHover {background:#666 !important;color: #ccc!important} 
.search-btn{float:right;}
.header-middle{width:100%;float:left;position:relative;}
.header-middle img{width:100%;}
.banner-text{position:absolute;left:30.9%;top:90px;text-align:center;}
.banner-text h2{font-size:70px;line-height:85px;font-weight:600;color:#fff;text-transform:capitalize;text-decoration:none;letter-spacing:-7.1px;}
.banner-text h3{font-size:43px;line-height:85px;font-weight:400;color:#fff;text-decoration:none;letter-spacing:-4px;padding-top:3px;}
.header-middle .bx-viewport{max-height:660px;}
.header-middle .bx-next{position:absolute;right:10.8%;top:185px;text-indent:-99999px;background:url(../images/next-arw.png) no-repeat left top;width:25px;height:63px;}
.header-middle .bx-prev{position:absolute;left:10.8%;top:185px;text-indent:-99999px;background:url(../images/perv-arw.png) no-repeat left top;width:25px;height:63px;}
.header-bottom{width:100%;display:block;text-align:center;background:#34495e;float:left;z-index:9999999;}
.header-bottom ul{list-style:none;}
.header-bottom ul li{display:inline;text-align:center;}

.header-bottom ul li a{padding: 24px 3.85% 14px 3.85%;display: inline-block;width:9.1%;text-align:center;}
.header-bottom ul li a:hover{background:url(../images/hovr-bg.png) no-repeat center top;text-decoration:none;}
.header-bottom ul li a img{border:none;}
.header-bottom ul li a span{display:block;font-size:20px;line-height:34px;font-weight:400;color:#fff;text-decoration:none !important;text-transform:uppercase;}
.header-bottom.smaller { position: fixed; width: 100%; float: left; overflow: hidden; top: 0px; left: 0px; z-index: 999999; }
.mainContr.down #news { width: 100%; float: left; }
/*news-section cssstart*/
.news-section{width:100%;display:block;text-align:center;background:#ecf0f1;position:relative;padding:28px 0 60px 0;float:left;}
.news-section h2{font-size:50px;line-height:85px;font-weight:300;color:#4c4c4b;text-decoration:none;margin:0;text-align:center;text-transform:capitalize;margin:0 0 0 9px;letter-spacing:-3px;}
.gallery-section h3,.video-section h3,.radio-section h3,.testimonial-section h3{font-size:50px;line-height:85px;font-weight:300;color:#4c4c4b;text-decoration:none;margin:0;text-align:center;text-transform:capitalize;margin:0 0 0 9px;}
.news-wrap{width: 100%;display: block;margin: 8px 0 0 5px;}
.news-wrap ul{list-style:none;}
.news-wrap ul li{display:inline-block;}
.news-slider { width: 100% !important; float: left; }
.news-slider .owl-item { float: left; }
.news-one{background:#fff;width:87%;padding:18px 15px 18px 15px;text-align:center;min-height:472px;position:relative;border:1px solid #969696;border-radius:6px;}
.news-one h4{font-size:16px;line-height:22px;font-weight:400;color:#0f6eac;text-decoration:none;margin:0;text-align:left;margin: 9px 0 0 0;font-family:'Open Sans', sans-serif;}
.news-one h5{font-size:12px;line-height:27px;font-weight:400;color:#ff0000;text-decoration:none;margin:0;text-align:left;}
.news-one p{font-size:14px;line-height:20px;font-weight:400;color:#4c4c4b;text-decoration:none;text-align:left;padding:2px 0 10px 0;}
.news-social{display: inline-block;}
.news-social a{ background: url(../images/news-social.png) left top no-repeat; width: 43px; height: 43px; float: left; margin-left:8px;}
.news-social a:hover{ opacity: 0.65}
.news-social a.tw{ background-position: 0 0;}
.news-social a.fb{ background-position: -50px 0;}
.news-social a.gplus{ background-position: -100px 0;}
.news-social a.dn{ background-position: -150px 0;}
a.view-btn{font-size:14px;line-height:20px;font-weight:700;color:#537bbd;float:left;width:100%;text-align:left;}
.news-section .bx-pager,.bx-default-pager{display:none;}
.news-section .owl-next{position:absolute;right:-5.3%;top:218px;text-indent:-99999px;background:url(../images/next-arw.png) no-repeat left top;width:25px;height:63px;cursor:pointer;}
.news-section .owl-prev{position:absolute;left:-5.3%;top:218px;text-indent:-99999px;background:url(../images/perv-arw.png) no-repeat left top;width:25px;height:63px;cursor:pointer;}
.cont{position:absolute;left:15px;bottom:18px;width:88%;}

/* gallery css */
.gallery-section{width:100%;display:block;text-align:center;background:#fafafa;position:relative;padding:34px 0 80px 0;float:left;position:relative;}
.gallery-wrap {margin-top:19px;}
.gallery-wrap ul.gallery-tab{list-style: none;border: 1px solid #007aff;border-radius: 5px;margin: 0 2.7% 0 3.2%;width: 93.6%;float: center;}


.gallery-wrap ul.gallery-tab li a{font-size:26px;line-height:55px; display: block;font-weight:600;color:#007aff;text-transform:capitalize;border-right: 2px solid #007aff;text-align: center;width: 19.84%;float: left;}
.gallery-wrap ul.gallery-tab li.last a{font-size:26px;line-height:55px; display: block;font-weight:600;color:#007aff;text-transform:capitalize;border-right:none;width: 19.849%;float: right;padding-left:.03%;/* width: 20.2%; */}
body.windows.safari .gallery-wrap ul.gallery-tab li.last a{font-size:26px;line-height:55px; display: block;font-weight:600;color:#007aff;text-transform:capitalize;border-right:none;float: right;padding-left:.03%; width: 20.2%;}
.gallery-wrap ul.gallery-tab li a.current {background: url(../images/hov-bg.png) repeat-x center center;color:#fff; background-size:cover;}
.gallery-wrap ul.gallery-tab li a.current {color:#fff}
.portfolioContainer{margin:42px 2.7% 0 3.2%; width: 94.1%; float:left;}
.sec {width: 24.95%; }
.sec img{ padding: 0px; margin: 0px; display: block; min-height: 208px;max-width:100%; }
.gallerySlider { width: 100% !important	; float: left;  }
.gallerySlider .owl-item { float: left; }
#gallery .owl-prev{position:absolute;left:-5.5%;top:46%;text-indent:-99999px;background:url(../images/perv-arw.png) no-repeat left top;width:25px;height:63px;cursor:pointer;}
#gallery .owl-next{position:absolute;right:-5.5%;top:46%;text-indent:-99999px;background:url(../images/next-arw.png) no-repeat left top;width:25px;height:63px;cursor:pointer;}
/* video css */
.video-section{width:100%;display:block;text-align:center;background:#fff;position:relative;float:left;padding:35px 0 48px 0;}
.video-wrap{width:96%;display:block;margin:31px 0 0 2.3%;float:left;}
.video-holder{display:inline-block;max-height:290px;max-width:100%}
.video-one{background:#fff;width:100%;text-align:center;min-height:283px;}
.video-one span{font-size: 25px;line-height: 30px;font-weight: 300;color: #e85b30;text-transform: uppercase;display: block;margin: 46px 0 0 0;}
.video{position:relative;}
.video span.play-icon {background: url("../images/play.png") no-repeat scroll center center;cursor: pointer; height: 80px;left: 50%;margin-left: -40px;margin-top: -40px;position: absolute;top: 50%;width: 81px;}
.video-slider { width: 100% !important; float: left; }
.video-slider .owl-item { float: left; }
.video-section .owl-next{position:absolute;right:-8.4%;top:55px;text-indent:-99999px;background:url(../images/next-arw.png) no-repeat left top;width:25px;height:63px;cursor:pointer;}
.video-section .owl-prev{position:absolute;left:-8.4%;top:55px;text-indent:-99999px;background:url(../images/perv-arw.png) no-repeat left top;width:25px;height:63px;cursor:pointer;}
a.more-video{font-size:25px;line-height:44px;font-weight:300;color:#e85b30;text-transform:capitalize;display:inline-block;border:1px solid #e85b30;border-radius:25px;width:155px;text-align:center;margin: 7px 0 0 10px;}

/* radio-section css*/
.radio-section{width:100%;display:block;text-align:center;background:#fafafa;position:relative;float:left;padding:30px 0 0 0;}
.radio-wrap{width:96%;display:block;margin:30px 0 0 2.3%;float:left;}
.radio-holder{display:inline-block;max-width:100%}
.radio-one{width:68% !important;text-align:center;min-height:283px;}
.radio-one span{font-size:25px;line-height:89px;font-weight:400;color:#4c4c4b;text-transform:capitalize;display:block;}
.radio-slider { width: 100% !important	; float: left;  }
.radio-slider .owl-item { float: left; }
.radio-section .owl-next{position:absolute;right:-8.4%;top:55px;text-indent:-99999px;background:url(../images/next-arw.png) no-repeat left top;width:25px;height:63px;cursor:pointer;}
.radio-section .owl-prev{position:absolute;left:-8.4%;top:55px;text-indent:-99999px;background:url(../images/perv-arw.png) no-repeat left top;width:25px;height:63px;cursor:pointer;}

/* Testimonial css */
.testimonial-section{width:100%;display:block;text-align:center;background:#fff;position:relative;float:left;padding:52px 0 122px 0;}
.testimonial-section p{font-size: 30px;line-height: 50px;font-weight: 400;color: #007aff;margin: 0;text-align: center;padding: 12px 0 0 0;letter-spacing: 1px;}

.singlepost-section{width:100%;display:block;text-align:center;background:#fff;position:relative;float:left;padding:10px 0 20px 0;}
.singlepost-section p{font-size: 14px;line-height: 26px;color: #007aff;margin: 0;text-align: center;padding: 4px 0 0 0;letter-spacing: 1px;text-align:justify;}
.singlepost-section h2{
color: #4c4c4b;
    font-size: 36px;
    font-weight: 300;
    line-height: 62px;
    margin: 0 0 0 9px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
}

.singlepost-section h3{
color: #4c4c4b;
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
}


.scrollToTop {
width: 100px;
height: 70px;
padding: 10px;
text-align: center;
background: whiteSmoke;
font-weight: bold;
color: #444;
text-decoration: none;
position: absolute;
display: none;
background: url('arrow_up.png') no-repeat 0px 20px;
position:absolute;right:114px;bottom:22px;float:right;}
/* footer css*/
.footer{width:100%;float:left;background:#34495e;padding:90px 0;}
.footer-wrap {width: 96.9%;margin: 0 1.1% 0 2%;float: left;}
.footer-wrap ul{list-style:none;float:left;width:19.25%;}
.footer-wrap ul li{}
.footer-wrap ul li a{font-size:16px;line-height:28px;font-weight:400;color:#fff;margin:0;text-align:left;text-transform:capitalize;}
.address{float:center;width:30.6%;}
.address ul{list-style:none;width:100%;}
.address ul li{font-size:16px;line-height:29px;font-weight:400;color:#fff;margin:0;text-align:left;}
.footer-right{float:right;padding-left:36px;}
.footer-logo {display: block;padding: 10px 0 22px 0;}
.footer-social{float:left;}
.footer-social a{ background: url(../images/footer-social.png) left top no-repeat; width: 41px; height: 41px; float: left; margin-right: 11px;}
.footer-social a:hover{ opacity: 0.65}
.footer-social a.ftw{ background-position: 0 0;}
.footer-social a.ffb{ background-position: -52px 0;}
.footer-social a.fgplus{ background-position: -104px 0;}
.go-up-btn{}



.portfolioFilter a { 
    margin-right: 10px; 
	color:#666;
	text-decoration:none;
}

.portfolioFilter a.current { 
    font-weight:bold;
}
.gallerySlider { width: 100% !important; float: left; }

.gallerySlider  .owl-item { float: left; }
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    /* pointer-events: none; */
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

/*-----contact-us form----*/


.enquiry_button {
	width: 120px;
	height: 50px;
	cursor: pointer;
	border: none;
	margin-left: 470px;
	margin-top: 6px;
	outline: none;
	background-color: #16b5d1;
	border-radius: 3px;
	color: #fff;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
}
.enquiry_button:hover {
	width: 120px;
	height: 50px;
	cursor: pointer;
	border: none;
	margin-left: 470px;
	margin-top: 6px;
	outline: none;
	background-color: #EC2891;
	border-radius: 3px;
	color: #fff;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
}
.bnnr_contact {
	font-family: 'PT Sans', sans-serif;
	outline:none;
	border:none;
	height:50px;
	line-height:35px;
	width:350px;
	margin:0 0 11px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border:solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:1px 1px 2px rgba(50, 50, 50, 0.5);
	padding: 0 10px;
	font-size:16px;
	text-shadow:1px 1px 1px #fff;
	color:#666;
}
.ssr_fname {
	font-family: 'PT Sans', sans-serif;
	outline:none;
	border:none;
	height:50px;
	line-height:35px;
	width: 275px;
	margin: 25px 20px 9px 17px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border:solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:1px 1px 2px rgba(50, 50, 50, 0.5);
	padding: 0 10px;
	font-size:16px;
	text-shadow:1px 1px 1px #fff;
	color:#666;
	float:left;
}
.ssr_lname {
	font-family: 'PT Sans', sans-serif;
	outline:none;
	border:none;
	height:50px;
	line-height:35px;
	width:275px;
	float:left;
	margin:0 0 11px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border:solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:1px 1px 2px rgba(50, 50, 50, 0.5);
	padding: 0 10px;
	font-size:16px;
	text-shadow:1px 1px 1px #fff;
	color:#666;
}
.ssr_email {
	font-family: 'PT Sans', sans-serif;
	outline:none;
	border:none;
	height:50px;
	line-height:35px;
	width: 275px;
	margin: 13px 20px 9px 17px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border:solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:1px 1px 2px rgba(50, 50, 50, 0.5);
	padding: 0 10px;
	font-size:16px;
	text-shadow:1px 1px 1px #fff;
	color:#666;
	float:left;
}
.ssr_phone {
	font-family: 'PT Sans', sans-serif;
	outline:none;
	border:none;
	height:50px;
	line-height:35px;
	width:275px;
	margin: 13px 0px 0px 0px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border:solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:1px 1px 2px rgba(50, 50, 50, 0.5);
	padding: 0 10px;
	font-size:16px;
	text-shadow:1px 1px 1px #fff;
	color:#666;
	float:left;
}
.bnnr_contact_textarea {
	outline:none;
	height:120px;
	line-height:24px;
	font-size:16px;
	width: 570px;
	margin: 11px 18px 12px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border:solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	padding: 9px 12px 5px;
	text-shadow:1px 1px 1px #fff;
	color:#666;
	font-family: 'PT Sans', sans-serif;
}
.ssr_contact {
	width:960px;
	padding:0px;
	margin:auto;
	padding-left: 22px;
}
.ssr_contactform7_code {
	float:left;
	width:650px;
	margin: 30px 10px;
	list-style:none;
	-moz-box-shadow: -1px 2px 17px -1px #000;
	-webkit-box-shadow: -1px 2px 17px -1px #000;
	box-shadow: -1px 2px 17px -1px #000;
	border-radius: 5px;
	min-height:400px;
}


.ssr_contact h1 {
	font-size:25px;
	font-weight:normal;
	color:#16b5d1;
	font-style:normal;
}
.ssr_contact .contact_address {
	padding: 16px 10px 8px 11px;
	float: left;
	width: 260px;
	height: auto;
	border-radius: 5px;
	margin: 30px 7px 0 0px;
	min-height: 372px;
}
.contact_address {
	-moz-box-shadow: -1px 2px 17px -1px #000;
	-webkit-box-shadow: -1px 2px 17px -1px #000;
	box-shadow: -1px 2px 17px -1px #000;
	line-height:23px;
	min-height: 367px;
	width: 300px;
}
.contact_map {
	width: 930px;
	padding: 0px;
	margin: 2px 0 0 0px;
	border: 5px solid #ccc;
	border-radius: 5px;
}

.wpcf7-validation-errors, .not-valid-tip, .wpcf7-not-valid-tip-no-ajax { font-size: 10px; color: red; }
.wpcf7-mail-sent-ok { font-size: 10px; color: green; width: 230px; margin: 5px auto 0 auto; }
.wpcf7-form .invalid { clear: left; position: absolute; }
.wpcf7-validation-errors { color: blue; display: none !important; }
.wpcf7-not-valid-tip { position: absolute; clear: left; z-index: 100; background: rgba(255,255,255,0.5); border: 1px solid #fff; font-size: 10pt; border-radius: 4px; padding: 6px; color: black; margin: -25px 0 0 30px; }

.form-allowed-tags{ display:none !important;}


@media only screen and (max-width: 1400px){
.news-section .owl-next{right:0}
.news-section .owl-prev{left:0}
.video-section .owl-next{right:0%}
.video-section .owl-prev{left:0%}
.radio-section .owl-next{right:0%}
.radio-section .owl-prev{left:0%}
.header-middle img { display: block;}
.news-section .owl-next{ top:-80px;}
.news-section .owl-prev{ top:-80px;}
 #gallery .owl-prev{ top:-143px;left:2%}
#gallery .owl-next{ top:-143px;right:2%}
.radio-section .owl-next{ top:-100px;}
.radio-section .owl-prev{ top:-100px; }
.video-section .owl-prev{ top:-100px;}
.video-section .owl-next{ top:-100px;}
}

@media only screen and (max-width: 1280px){
.header-bottom ul li a span {font-size: 16px;}
.logo {left: 5%;}
.nav {padding: 0 0 0 6.15%;}
.menu ul li a { font-size: 14px;}
.banner-text { top: 51px;}
.banner-text h2 {font-size: 52px;line-height: 58px; }
.banner-text h3 {font-size: 32px;line-height: 51px; }
.header-middle .bx-next{top:91px;}  
.header-middle .bx-prev{top:91px;}
.search-wrap{ left: -3.6%; }
.news-section h2,.gallery-section h3,.video-section h3,.radio-section h3,.testimonial-section h3{font-size:36px;}  
.gallery-wrap ul.gallery-tab li a{font-size:22px;width:19.7%;border-left:2px solid #007aff;border-right:none;border-top:2px solid #007aff;border-bottom:2px solid #007aff;} 
.gallery-wrap ul.gallery-tab li:first-child a{font-size:22px;width:19.7%;border-left:2px solid #007aff;border-right:none;border-top:2px solid #007aff;border-bottom:2px solid #007aff;border-radius: 5px 0 0 5px ;} 
.gallery-wrap ul.gallery-tab li.last a{font-size:22px;width:19.7%;border-right:2px solid #007aff;float:left;border-radius:0 5px 5px 0;} 
.radio-one span,.video-one span{font-size:20px} 
.testimonial-section p{font-size:22px;}
.footer-wrap ul{width:18%;}    
.address ul{width:100%;}    
.footer-right{padding-left:0}   
.go-up-btn{right:2%;} 
.header-middle img { display: block; } 
.gallery-wrap ul.gallery-tab{border:none;}
.scrollToTop{right:5px;}
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
..mainContr.down { position: relative; margin-top: 0px; }
.header{ width: 100%; float: left; padding-top: 0px; }
.header-bottom.smaller { position: relative; z-index: 9; }
.header-bottom ul li a{width:11.1%;}
.header-bottom ul li a span {font-size: 12px;}
.logo {max-width:20%;top:2px;line-height:53px;}
.nav{padding-left:5%;width:58%;}
.search-wrap{left: -2.6%;}
.banner-text {left: 50%;margin-left:-215px;}
.gallery-wrap ul.gallery-tab{border:none;}
.gallery-wrap ul.gallery-tab li a {font-size: 20px;width:19.7%;border-left:2px solid #007aff;border-right:none;border-top:2px solid #007aff;border-bottom:2px solid #007aff;}
.gallery-wrap ul.gallery-tab li:first-child a {font-size: 20px;width:19.7%;border-left:2px solid #007aff;border-right:none;border-top:2px solid #007aff;border-bottom:2px solid #007aff;border-radius: 5px 0 0 5px ;}
.address {width: 21.6%;}
.gallery-wrap ul.gallery-tab li.last a{ border-right:2px solid #007aff;float: left;width: 19.7%;font-size: 20px;border-radius:0 5px 5px 0;}
/*.news-section .owl-next,.video-section .owl-next,.radio-section .owl-next {background: url("../images/fr.png") no-repeat scroll left top transparent;right:1%;}
.news-section .owl-prev,.video-section .owl-prev,.radio-section .owl-prev {background: url("../images/br.png") no-repeat scroll left top transparent;}
*/
.testimonial-section{padding:40px 0 80px 0;}
.testimonial-section p{line-height:38px;}
img{ display: inline-block; }
.header-middle img { display: block; }
.footer-wrap ul li a,.address ul li{font-size:14px;}
.footer{padding:50px 0;}
.scrollToTop{right:5px;}
}  
@media only screen and (max-width: 990px) and (min-width: 768px){
.gallery-wrap ul.gallery-tab{border:none;}
.gallery-wrap ul.gallery-tab li a{width:19.6%;border-left:2px solid #007aff;border-right:none;border-top:2px solid #007aff;border-bottom:2px solid #007aff;}
.gallery-wrap ul.gallery-tab li:first-child a{width:19.6%;border-left:2px solid #007aff;border-right:none;border-top:2px solid #007aff;border-bottom:2px solid #007aff;border-radius: 5px 0 0 5px ;}
.gallery-wrap ul.gallery-tab li.last a{ border-right:2px solid #007aff;float: left;width: 19.7%;border-radius:0 5px 5px 0;} 
img{ display: inline-block; }
.header-middle img { display: block; }
.footer-right {float: right;max-width: 31%;}
.news-one p{padding-top:15px;}
.stylish-select .select-btn .selectedTxt,.stylish-select .select-btn ul.newList a{font-size:12px;}
}
@media only screen and (max-width:767px){
 img{ display: inline-block; }
.logo{line-height: 67px;position: relative;text-align: center;top: 10px;width:100%;left:0;}
.container{max-width:481px;} .header-middle img { display: block; }
.nav{width:100%;text-align:center;padding:0;margin:0 0 50px 0;}
.res_menu {display:block;}
.res_menu ul li{display:block;}
.res_menu ul li img.click{position: absolute;top: 16px;left: 50%;margin-left: -14px;width: 24px;}
.menu{display:none; position:absolute; left:50%; top:119px; background:#34495e; width:96%;z-index:99999;margin-left:-48%;}
.menu ul li{width:100%; padding:10px 0; border-bottom:1px solid #ccc;}
.menu ul li a{display:block; line-height:20px; color:#fff;}
.menu ul li a:hover {background: url(../images/hover-bg.png) no-repeat center top;} 
.search-wrap{/* text-align:center;left:40%;float:left; margin: 9px 0 20px; */text-align:center;left:50%;float:left; margin: 9px 0 20px -53px;width:106px;}
.banner-text{ left: 50%;margin: 0 0 0 -110px;position: absolute;text-align: center;top:20px;}
.banner-text h2 {font-size: 21px;line-height: 30px;letter-spacing:0;}
.banner-text h3 {font-size: 16px;line-height: 25px;letter-spacing:0;}
.header-bottom ul li a span {font-size: 12px;}
.news-one p{font-size:11px;}
.footer-wrap ul{width:32%;}
.header-bottom ul li a span{display:none;}
.footer-right{padding:0;float:left;text-align:center;width:100%;margin:30px 0 0 0;}
 .footer-wrap ul li a,.address ul li{font-size:14px;}
.footer-social {float: none;text-align: center;}
.footer-social a {display: inline-block;float:none;}
.header-middle .bx-prev { background: url("../images/br.png") no-repeat scroll left top transparent;top:40px}
.header-middle .bx-next {background: url("../images/fr.png") no-repeat scroll left top transparent;top:40px;}
.news-section .owl-next{background: url("../images/fr.png") no-repeat scroll left top transparent; top:-57px;}
.news-section .owl-prev{background: url("../images/br.png") no-repeat scroll left top transparent;top:-57px;}
.video-section .owl-next{background: url("../images/fr.png") no-repeat scroll left top transparent;top:-82px;}
.video-section .owl-prev{background: url("../images/br.png") no-repeat scroll left top transparent;top:-82px;}
.radio-section .owl-next{background: url("../images/fr.png") no-repeat scroll left top transparent;top:-82px;}
.radio-section .owl-prev{background: url("../images/br.png") no-repeat scroll left top transparent;top:-82px;}
 #gallery .owl-next{background: url("../images/fr.png") no-repeat scroll left top transparent;top:-127px;}
 #gallery .owl-prev{background: url("../images/br.png") no-repeat scroll left top transparent;top:-127px;}
.gallery-wrap ul.gallery-tab{border:none;}
.gallery-wrap ul.gallery-tab li a{font-size:11px;width:19%;;border-left:2px solid #007aff;border-right:none;border-top:2px solid #007aff;border-bottom:2px solid #007aff;}
.gallery-wrap ul.gallery-tab li:first-child a{font-size:11px;width:19%;;border-left:2px solid #007aff;border-right:none;border-top:2px solid #007aff;border-bottom:2px solid #007aff;border-radius: 5px 0 0 5px ;}
.gallery-container ul li{width:50%;}
.gallery-wrap ul.gallery-tab li.last a{ border-right:2px solid #007aff;float: left;padding-left: 0.03%;Width: 21%;font-size:11px;border-radius:0 5px 5px 0;}
.footer{padding:45px 0;}
.footer-wrap ul{width:100%;float:none;display:block;text-align:center;}
.address {width:100%;float:none;display:block;text-align:center;margin:20px 0;}
.address ul{width:100%;float:none;display:block;text-align:center;}
.address ul li{text-align:center;}
.sec {width: 50%; }
.scrollToTop{right:5px;}
.news-one p{padding-top:5px;} .testimonial-section p{line-height:28px;}
.news-social a{margin-left:3px;}
.mainContr.down { margin-top: 0px; }
}
@media only screen and (max-width:479px){
/* .search-wrap{left:33.5%;} */
.news-section .owl-next{right:0}
.news-section .owl-prev{left:0}
.video-section .owl-next{right:0}
.video-section .owl-prev{left:0}
.radio-section .owl-next{right:0}
.radio-section .owl-prev{left:0}
 #gallery .owl-next{background: url("../images/fr.png") no-repeat scroll left top transparent;top:-181px;}
 #gallery .owl-prev{background: url("../images/br.png") no-repeat scroll left top transparent;top:-181px;}

.gallery-wrap ul.gallery-tab{border:2px solid rgb(0, 122, 255);border-radius:5px;}
.gallery-wrap ul.gallery-tab li a{font-size:14px;line-height:20px;width:100%;border:none;border-bottom:2px solid rgb(0, 122, 255)}
.gallery-wrap ul.gallery-tab li:first-child a{font-size:14px;line-height:20px;width:100%;border:none;border-bottom:2px solid rgb(0, 122, 255);border-radius:0;}
.gallery-wrap ul.gallery-tab li.last a{border-bottom:none;border:none;width:100%;font-size:14px;line-height:20px;}
.banner-text {top:10px;}
.banner-text h2{font-size:19px;}
.footer-wrap ul{width:100%;float:none;display:block;text-align:center;}
.address {width:100%;float:none;display:block;text-align:center;margin:20px 0;}
.address ul{width:100%;float:none;display:block;text-align:center;}
.address ul li{text-align:center;}

.sec {width: 100%; }



}











