.gallery-wrap ul.gallery-tab{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px; position: relative;behavior: url(PIE.htc);}
a.more-video{border-radius:25px;-webkit-border-radius:25px;-moz-border-radius:25px; position: relative;behavior: url(PIE.htc);}

