body, div, h1, h2, h3, h4, h5, h6, p, ul, li, ol, fieldset, form, table, td, tr, span, a {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family:'Open Sans', sans-serif;
}
body, td, th {
	font-family:'Open Sans', sans-serif!important;
	letter-spacing: 0px!important;
}
* {
	text-decoration:none;
}
*:focus {
	outline:none;
}
img {
	max-width:100%;
	border:none;
}
a {
	outline:none;
}
/* .gallery-wrap ul.gallery-tab, .gallery-wrap ul.gallery-tab li.last a, .gallery-wrap ul.gallery-tab li:first-child a{behavior: url(../PIE-1.0.0/PIE.htc);} */



/*header css start*/ 



/* Button styles: */
/*i.fb,       span.fb{     	color: #000000; }
i.tw,       span.tw{     	color: #000000; }
i.google,   span.google{ 	color: #000000; }
i.linkin,   span.linkin{ 	color: #000000; }*/


a.fb
{
background-color:#3B5998;
color:#fff;
padding:6px;
border-radis:4px;
}

a.fb:hover
{
background-color:#3B5998;
color:#FFF;
border-radis:4px;
}


a.tw
{
background-color:#00ACED;
color:#fff;
padding:6px;
border-radis:4px;
}

a.tw:hover
{
background-color:#00ACED;
color:#FFF;
border-radis:4px;
}

a.gp
{
background-color:#FFF;
color:#010101;
padding:6px;
border-radis:4px;
}

a.gp:hover
{
background-color:#CD4030;
color:#FFF;
border-radis:4px;
}

a.lk
{
background-color:#FFF;
color:#010101;
padding:6px;
border-radis:4px;
}

a.lk:hover
{
background-color:#18658D;
color:#FFF;
border-radis:4px;
}





.google-plus-one{
   overflow: hidden;
   position: relative;
}

.google-plus-one i{
   position: absolute;
   left: -4px;
   bottom: -5px;
}

.google-plus-one span{
   font-size: 16px; 
   font-weight: 900; 
   line-height: 10px;
   margin-left: 15px;
}

.btn-sm.google-plus-one span{ font-size: 14px; }
.btn-sm.google-plus-one i{ bottom: -3px; }
.btn-lg.google-plus-one span{ font-size: 20px; margin-left: 18px; }
.btn-lg.google-plus-one i{ bottom: -5px; }
.btn-xs.google-plus-one span{ font-size: 12px;}
.btn-xs.google-plus-one i{ bottom: -7px; }

.container{max-width:1124px; padding:0 10px; margin:0 auto;}
.innercontainer{max-width:1124px; min-height:500px; margin:0 auto; padding:20px 0 0 0; text-align:justify;}
.padd{color:#4c4c4b; font-size:14px; font-weight:400; line-height:20px; padding:2px 0 10px;}
.padd h2{font-size:26px; font-weight:normal; /*line-height: 40px;*/ padding:14px 10px 8px 0; text-align:center;}
.myh3class{font-size: 21px; font-weight:normal; line-height:68px;}
.header-top {background:rgba(0, 0, 0, 0.6); width:100%; float:left; border-bottom:1px solid #2b3a49; position:relative; z-index:9999;}
.header-middle{width:100%; float:left;}
/*.logo{position:relative; left:2% !important; float:left; line-height:66px;}*/
/*.nav{width:50%; text-align:center; float:left;	padding:0 0 0 12.15%;}*/
.res_menu{float:left; position:relative; width:100%;}
/*====================Header========================*/
.logo{max-width:300px; float:left; margin: 12px 0 0 2%;}
.nav{text-align:center; float:left; padding:0; margin:0 0 0 14.5%;}
.search-wrap{float:right; margin:22px 2% 0 0;}



/*================Responsive Menu==============-*/
a.meanmenu-reveal{display:none;}
/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar{float:left; width:100%; position:relative; min-height:42px; z-index:999999; padding:0; background:rgba(0, 0, 0, 0.6);}
.mean-container a.meanmenu-reveal{width:22px; height:22px; padding:0 20px; position:absolute; top:18px; right:0; cursor:pointer; color:#fff; text-decoration:none; font-size:16px; text-indent:-9999em; line-height:22px; font-size:1px; display: block;}
.mean-container a.meanmenu-reveal span{display:block; background:#fff; height:3px; margin-top:3px;}
.mean-container .mean-nav{float:left; width:100%;}
.mean-container .mean-nav ul{padding:0; margin:0; width:100%; list-style-type:none;}
.mean-container .mean-nav ul li{position:relative; float:left; width:100%;}
.mean-container .mean-nav ul li a{display:block; float:left; width:94%; padding:0 3%; margin:0; text-align:center; color:#fff; border-top:1px solid #383838; text-decoration:none; text-transform:capitalize; line-height:35px; font-size:15px;}
.mean-container .mean-nav ul li a:hover{background:url(../images/hovr-bg1.png) no-repeat center center; color:#fff;}
.mean-container .mean-nav ul li li a{width:90%; padding:0 5%; border-top:1px solid #f1f1f1; border-top:1px solid rgba(255,255,255,0.25);  text-shadow:none !important; visibility:visible; line-height:35px;}
.mean-container .mean-nav ul li.mean-last a{border-bottom:none; margin-bottom:0;}
.mean-container .mean-nav ul li li li a{width:80%;	padding:0 10%; line-height:35px;}
.mean-container .mean-nav ul li li li li a{width:70%; padding:0 15%; line-height:35px;}
.mean-container .mean-nav ul li li li li li a{width:60%; padding:0 20%; line-height:35px;}
.mean-container .mean-nav ul li a.mean-expand{margin-top:1px; width:15px; height:auto; padding:0px 12px!important; text-align:center; position:absolute; right:0; top:0; z-index: 2; font-weight:600; background:rgba(255,255,255,0.1); border:none !important;}
.mean-container .mean-nav ul li a.mean-expand:hover{background:rgba(0,0,0,0.9);}
.mean-container .mean-push{float:left; width:100%; padding:0; margin:0; clear:both;}
.mean-nav .wrapper{width:100%; padding:0; margin:0;}
/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar *{-webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}
.mean-remove{display:none !important;}
.responsive-logo{display:none;}











img.singlepostinnerimg
{
height:150px;
padding:2px 4px 4px 8px;
}

.res_menu ul li {
	cursor: pointer;
	display: none;
	float: right;
	margin-right: 10px;
}
.menu {
	width:100%;
	float:right;
}
.mainContr {
	width: 100%;
	float: left;
}
.mainContr.down {
	width: 100%;
	float: left;
	margin-top: 100px;
	z-index:999999;
}
.menu ul {
	list-style:none;
}
.menu ul li {
	display:inline-block;
}
.menu ul li a {
	font-size:17px;
	line-height:66px;
	padding:0 16px;
	color:#fff;
	text-transform:capitalize;
	display:block;
	text-decoration:none;
	font-family:'Open Sans', sans-serif;
}
.banner-slider > li{list-style:none;}
.menu ul li a:hover {
	background:url(../images/hovr-bg1.png) no-repeat left top;
	text-decoration:none;
}

.search {
	/*width: 105px;*/
}

.mainContr.down #news {
	width: 100%;
	float: left;
}
.select-btn {
	width:80px;
	line-height:20px;
	float:left;
}
.stylish-select .select-btn .SSContainerDivWrapper {
	margin:0;
	padding:0;
	width:100%;
	position:absolute;
	top:20px!important;
	left:0px !important;
	z-index:2;
	border:none;
	background:#fff;
}
.stylish-select .select-btn ul.newList {
	margin:0;
	padding:0;
	list-style:none;
	background: transparent;
	border:none;
	overflow: auto;
	overflow-x: hidden;
	width:100%!important;
	height:auto!important;
	border:none;
}
.stylish-select .select-btn ul.newList * {
	float: left;
	margin:0;
	padding:0;
	border:none;
	width:100%!important;
}
.stylish-select .select-btn ul.newList a {
	display:block;
	text-decoration:none;
	padding: 0 4% 0 11%;
	width:100%!important;
	font-size:14px;
	color:#34495e;
	background:#fff;
	text-align:left;
	text-transform:capitalize;
	font-weight:300;
}
.stylish-select .select-btn .newListSelected {
	float:left;
	width:100%;
	height:20px;
	padding:0;
	background:#fff url(../images/down.png) no-repeat 95% center;
}
.stylish-select .select-btn .newListSelected:hover {
	float:left;
	width:100%;
	height:20px;
	padding:0;
	background:#666 url(../images/down.png) no-repeat 95% center;
}
.stylish-select .select-btn .selectedTxt {
	width:100%;
	overflow:hidden;
	height:20px;
	padding: 0 8% 0 11%;
	font-size:14px;
	color:#34495e;
	text-align:left;
	line-height:20px;
	box-sizing:border-box;
	;
	font-weight:300;
}
.stylish-select .select-btn .selectedTxt:hover {
	color:#ccc;
}
.stylish-select .select-btn .newListHover {
	background:#666 !important;
	color: #ccc!important
}
.search-btn {
	float:right;
}
.header-middle {
	width:100%;
	float:left;
	position:relative;
}
.header-middle img {
	width:100%;
}
.banner-text {
	position:absolute;
	left:30.9%;
	top:90px;
	text-align:center;
}
.banner-text h2 {
	font-size:70px;
	line-height:85px;
	font-weight:600;
	color:#fff;
	text-transform:capitalize;
	text-decoration:none;
	letter-spacing:-7.1px;
}
.banner-text h3 {
	font-size:43px;
	line-height:85px;
	font-weight:400;
	color:#fff;
	text-decoration:none;
	letter-spacing:-4px;
	padding-top:3px;
}
.header-middle .bx-viewport {
	max-height:534px;
}
.header-middle .bx-next {
	position:absolute;
	right:10.8%;
	top:50%;
	text-indent:-99999px;
	background:url(../images/next-arw.png) no-repeat left top;
	width:25px;
	height:63px;
}
.header-middle .bx-prev {
	position:absolute;
	left:10.8%;
	top:50%;
	text-indent:-99999px;
	background:url(../images/perv-arw.png) no-repeat left top;
	width:25px;
	height:63px;
}
/*.header-bottom{width:100%;display:block;text-align:center;background:#34495E;float:left;z-index:9999999;}*/



.header-bottom {
	width:100%;
	display:block;
	text-align:center;
	float:left;
	z-index:9999999;
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	position:relative;
	margin-top:-116px;
}
.header-bottom ul {
	list-style:none;
}
.header-bottom ul li {
	display:inline;
	text-align:center;
}
.header-bottom ul li a {
	/*padding: 24px 3.85% 14px 3.85%;*/
	padding: 24px 4% 14px 4%;
	display: inline-block;
/*	width:7.1%;*/
	text-align:center;
}
.header-bottom ul li a:hover {
	background:url(../images/hovr-bg.png) no-repeat center top;
	text-decoration:none;
}
.header-bottom ul li a img {
	border:none;
}
.header-bottom ul li a span {
	display:block;
	font-size:20px;
	line-height:34px;
	font-weight:400;
	color:#fff;
	text-decoration:none !important;
	text-transform:uppercase;
}

/*.header-bottom.smaller {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999999;
}*/

/*.header-bottom.smaller {
	position: fixed;
	width: 100%;
	float: left;
	overflow: hidden;
	top: 116px !important;
	left: 0px;
	z-index: 999999;
}*/
.mainContr.down #news {
	width: 100%;
	float: left;
}
/*news-section cssstart*/



.news-section {
	width:100%;
	display:block;
	text-align:center;
	background:#ecf0f1;
	position:relative;
	padding:28px 0 60px 0;
	float:left;
}
.news-section h2 {
	font-size:50px;
	line-height:85px;
	font-weight:300;
	color:#4c4c4b;
	text-decoration:none;
	margin:0;
	text-align:center;
	text-transform:capitalize;
	margin:0 0 0 9px;
	letter-spacing:-3px;
}
.gallery-section h3, .video-section h3, .radio-section h3, .testimonial-section h3 {
	font-size:50px;
	line-height:85px;
	font-weight:300;
	color:#4c4c4b;
	text-decoration:none;
	margin:0;
	text-align:center;
	text-transform:capitalize;
	margin:0 0 0 9px;
}



.news-wrap {
	width: 100%;
	display: block;
	margin: 8px 0 0 0;
}
.news-wrap ul {
	list-style:none;
}
.news-wrap ul li {
	display:inline-block;
}
.news-slider {
	width: 100% !important;
	float: left;
}
.news-slider .owl-item {
	float: left;
}
.news-one {
	background:#fff;
	width:90%;
	/*padding:18px 15px 18px 15px;*/
	padding:0 0 18px 0;
	text-align:center;
	min-height:405px;
	position:relative;
	/*border:1px solid #BFBBBB;*/
	/*border-radius:6px;*/
	box-shadow: 0px 0px 0px 1px #888;
}


.news-one:hover {
	background:#fff;
	width:90%;
	/*padding:18px 15px 18px 15px;*/
	padding:0 0 18px 0;
	text-align:center;
	min-height:405px;
	position:relative;
	/*border:1px solid #BFBBBB;*/
	/*border-radius:6px;*/
	box-shadow: 2px 2px 2px 2px #ff8100;
}

.news-onehome {
	background:#fff;
	width:86%;
	/*padding:18px 15px 18px 15px;*/
	padding:0 0 18px 0;
	text-align:center;
	min-height:435px;
	position:relative;
	/*border:1px solid #BFBBBB;*/
	/*border-radius:6px*/;
	box-shadow: 0px 0px 0px 1px #888;
}


.news-onehome:hover {
	background:#fff;
	width:86%;
	/*padding:18px 15px 18px 15px;*/
	padding:0 0 18px 0;
	text-align:center;
	min-height:435px;
	position:relative;
	/*border:1px solid #BFBBBB;*/
	/*border-radius:6px;*/
	box-shadow: 2px 2px 2px 2px #ff8100;
}


/*

.news-one:hover{background:#fff;width:87%;padding:18px 15px 18px 15px;text-align:center;min-height:472px;position:relative;border:1px solid #BFBBBB;border-radius:6px;box-shadow: 3px 3px 3px 3px #888;}*/



textarea {
    height: 150px;
	width:100%;
	
}

#comments {
    float: left;
    margin-top: 30px;
    width: 100%;
}
#comments .headline {
    height: 30px;
    margin-bottom: 10px;
    text-align: left;
}
#comments .headline h2 {
    padding: 0;
}
#comments .headline a {
    float: right;
    font-size: 12px;
    margin-top: 2px;
    text-transform: uppercase;
}
#comments #reply-title {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0 5px;
    text-transform: uppercase;
}
#comments #reply-title small {
    color: gray;
}
#comments .comment-notes {
    margin-bottom: 20px;
}
#comments #respond {
    border-top: 1px dashed #cecece;
    clear: both;
    margin-bottom: 30px;
    padding-top: 10px;
}
#comments ol.commentlist {
    float: left;
    list-style: outside none none;
    margin: 0;
    width: 100%;
}
#comments ol.commentlist li {
    float: left;
    padding-bottom: 30px;
    width: 100%;
}
#comments ol.commentlist li li:last-child {
    padding-bottom: 0;
}
#comments ol.commentlist > li {
    border-bottom: 1px dashed #cecece;
}
#comments ol.commentlist > li:first-child .comment-inner {
    margin-top: 0;
}
#comments ol.commentlist > li:last-child {
    border: 0 none;
}
#comments ol.commentlist .vcard {
    float: left;
    margin-right: 20px;
    width: 60px;
}
#comments ol.commentlist .vcard .avatar {
    border-radius: 3px;
    float: left;
    width: 60px;
}
#comments ol.commentlist .commentmeta strong {
    color: #222222;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
#comments ol.commentlist .commentmeta .authorname {
    color: gray;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    position: relative;
    text-transform: uppercase;
    top: -3px;
}
#comments ol.commentlist .awaiting_moderation {
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 8px;
    font-style: normal;
    font-weight: bold;
    padding: 2px 4px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}
#comments ol.commentlist .comment-inner {
    float: left;
    margin-top: 20px;
    padding: 20px 20px 3px 0;
    position: relative;
    width: 100%;
}
#comments ol.commentlist .comment-reply-link {
    color: #17b3e6;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
#comments ol.commentlist .comment-reply-link i {
    margin-right: 5px;
}
#comments ol.commentlist .comment-text {
    color: #222222;
    font-size: 12px;
    margin-left: 80px;
    position: relative;
    width: auto;
}
#comments ol.commentlist .children {
    display: block;
    float: left;
    list-style: outside none none;
    margin: 20px 0 0;
    padding-left: 80px;
    position: relative;
    width: 100%;
}


.latestnewsright a {
	font-size:12px;
	padding:2px;
	color:#666666;
	text-decoration:none;
	font-family:'Open Sans', sans-serif;
	text-align:center;
}
.latestnewsright a:hover {
		color:#0D2845;
		text-decoration:none;
		text-align:center;

}
.news-onehome h4 {
	font-size:24px;
	line-height:28px;
	font-weight:400;
	color:#0f6eac;
	text-decoration:none;
	text-align:center;
	margin:2px 0 0 0;
	font-family:'Open Sans', sans-serif; clear:both; padding-left:5px; padding-right:5px;
}


.news-one h4 {
	font-size:16px;
	line-height:22px;
	font-weight:400;
	color:#0f6eac;
	text-decoration:none;
	margin:0;
	text-align:center;
	margin:2px 0 0 0;
	font-family:'Open Sans', sans-serif; clear:both; padding-left: 5px;
    padding-right: 5px;
}

.news-onehome h5 {
	font-size:12px;
	line-height:27px;
	font-weight:400;
	color:#ff0000;
	text-decoration:none;
	margin:0;
	text-align:center; clear:both; padding-bottom:7px;
}
.news-one h5 {
	font-size:12px;
	line-height:27px;
	font-weight:400;
	color:#ff0000;
	text-decoration:none;
	margin:0;
	text-align:center;
}

.news-onehome p {
	font-size:14px;
	line-height:20px;
	font-weight:400;
	color:#4c4c4b;
	text-decoration:none;
	text-align:justify;
	padding:2px 0;
}

.news-one p {
	font-size:14px;
	line-height:20px;
	font-weight:400;
	color:#4c4c4b;
	text-decoration:none;
	text-align:justify;
	padding:2px 0 10px 0;
}
.video p{padding-top:0;}
.news-social {
	display: inline-block;
}
.news-social a {
	background: url(../images/news-social.png) left top no-repeat;
	width: 43px;
	height: 43px;
	float: left;
	margin-left:8px;
}
.news-social a:hover {
	opacity: 0.65
}
.news-social a.tw {
	background-position: 0 0;
}
.news-social a.fb {
	background-position: -50px 0;
}
.news-social a.gplus {
	background-position: -100px 0;
}
.news-social a.dn {
	background-position: -150px 0;
}
a.view-btn {
	font-size:14px;
	line-height:20px;
	font-weight:700;
	color:#537bbd;
	float:left;
	width:100%;
	text-align:left;
}
.news-section .bx-pager, .bx-default-pager {
	display:none;
}
.news-section .owl-next {
	position:absolute;
	right:-5.3%;
	top:218px;
	text-indent:-99999px;
	background:url(../images/next-arw.png) no-repeat left top;
	width:25px;
	height:63px;
	cursor:pointer;
}
.news-section .owl-prev {
	position:absolute;
	left:-5.3%;
	top:218px;
	text-indent:-99999px;
	background:url(../images/perv-arw.png) no-repeat left top;
	width:25px;
	height:63px;
	cursor:pointer;
}
.cont {
	position:absolute;
	left:15px;
	bottom:15px;
	width:88%;
}
/* gallery css */



.gallery-section {
	width:100%;
	display:block;
	text-align:center;
	background:#f4f5f6;
	position:relative;
	padding:34px 0 80px 0;
	float:left;
	position:relative;
}
.gallery-wrap {
	margin-top:19px;
}
.gallery-wrap ul.gallery-tab {
	list-style: none;
	/*border: 2px solid #007aff;*/
	border-radius: 5px;
	margin: 0 2.7% 0 3.2%;
	width: 93.6%;
	float: left;
}
.news-section {
	background:#FFFFFF;
}
.gallery-wrap ul.gallery-tab li a {
	font-size:26px;
	line-height:55px;
	display: block;
	font-weight:600;
	color:#4c4c4b;
	text-transform:capitalize;
	border-right: 2px solid #4c4c4b;
	text-align: center;
	width: 19.84%;
	float: left;
}
.gallery-wrap ul.gallery-tab li.last a {
	font-size:26px;
	line-height:55px;
	display: block;
	font-weight:600;
	color:#4c4c4b;
	text-transform:capitalize;
	border-right:none;
	width: 19.849%;
	float: right;
	padding-left:.03%;/* width: 20.2%; */
}
body.windows.safari .gallery-wrap ul.gallery-tab li.last a {
	font-size:26px;
	line-height:55px;
	display: block;
	font-weight:600;
	color:#4c4c4b;
	text-transform:capitalize;
	border-right:none;
	float: right;
	padding-left:.03%;
	width: 20.2%;
}
.gallery-wrap ul.gallery-tab li a.current {
	background: url(../images/hov-bg.png) repeat-x center center;
	color:#fff;
	background-size:cover;
}
.gallery-wrap ul.gallery-tab li a.current {
	color:#fff
}
.portfolioContainer {
	margin:42px 2.7% 0 3.2%;
	width: 94.1%;
	float:left;
}
.sec {
	width: 24.95%;
}
.sec img {
	padding: 0px;
	margin: 0px;
	display: block;
	min-height: 208px;
	max-width:100%;
}
.gallerySlider {
	width: 100% !important;
	float: left;
}
.gallerySlider .owl-item {
	float: left;
}
#gallery .owl-prev {
	position:absolute;
	left:-5.5%;
	top:46%;
	text-indent:-99999px;
	background:url(../images/perv-arw.png) no-repeat left top;
	width:25px;
	height:63px;
	cursor:pointer;
}
#gallery .owl-next {
	position:absolute;
	right:-5.5%;
	top:46%;
	text-indent:-99999px;
	background:url(../images/next-arw.png) no-repeat left top;
	width:25px;
	height:63px;
	cursor:pointer;
}
/* video css */



.video-section {
	width:100%;
	display:block;
	text-align:center;
	background:#fff;
	position:relative;
	float:left;
	padding:35px 0 48px 0;
}
.video-wrap {
	width:96%;
	display:block;
	margin:31px 0 0 2.3%;
	float:left;
}
.video-holder {
	display:inline-block;
	max-height:375px;
	max-width:100%;
}
.video-one {
	background:#fff;
	width:96%;
	text-align:center;
	min-height:364px;
	border:1px solid #BFBBBB;
	border-radius:6px;
	box-shadow: 2px 2px 2px 2px #888;
}
.video-one:hover {
	background:#fff;
	width:96%;
	text-align:center;
	min-height:364px;
	border:1px solid #BFBBBB;
	border-radius:6px;
	box-shadow: 2px 2px 2px 2px #1D5FA9;
}




.video-one span {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
	color: #e85b30;
	text-transform: uppercase;
	display: block;
	margin: 8px 0 8px 0;
}
.video-one p{
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #4c4c4b
	padding: 2px 0 10px 0;
}

.video {
	position:relative;
	/*padding:10px; */
	padding:0;
	
}
.video span.play-icon {
	background: url("../images/play.png") no-repeat scroll center center;
	cursor: pointer;
	height: 80px;
	left: 50%;
	margin-left: -40px;
/*	margin-top: -40px;
*/	position: absolute;
	top: 30%;
	width: 81px;
}
.video-slider {
	width: 100% !important;
	float: left;
}
.video-slider .owl-item {
	float: left;
}
.video-section .owl-next {
	position:absolute;
	right:-8.4%;
	top:55px;
	text-indent:-99999px;
	background:url(../images/next-arw.png) no-repeat left top;
	width:25px;
	height:63px;
	cursor:pointer;
}
.video-section .owl-prev {
	position:absolute;
	left:-8.4%;
	top:55px;
	text-indent:-99999px;
	background:url(../images/perv-arw.png) no-repeat left top;
	width:25px;
	height:63px;
	cursor:pointer;
}
a.more-video {
	font-size:25px;
	line-height:44px;
	font-weight:300;
	color:#FFF;
background-color:#ff0000;
	text-transform:capitalize;
	display:inline-block;
	border:1px solid #e85b30;
	border-radius:25px;
	width:155px;
	text-align:center;
	margin: 7px 0 0 10px;
}
/* radio-section css*/
.radio-section {
	width:100%;
	display:block;
	text-align:center;
	background:#f4f5f6;
	position:relative;
	float:left;
	padding:30px 0 0 0;
}
.radio-wrap {
	width:96%;
	display:block;
	margin:30px 0 0 2.3%;
	float:left;
}
.radio-holder {
	display:inline-block;
	max-width:100%;
	min-height:350px;
}
.radio-one {
	width:96% !important;
	text-align:center;
	min-height:362px;
	border:1px solid #BFBBBB;
	border-radius:6px;
	box-shadow: 2px 2px 2px 2px #888;
	background-color: white;
	
}
.radio-one:hover {
	width:96% !important;
	text-align:center;
	min-height:362px;
	border:1px solid #BFBBBB;
	border-radius:6px;
	box-shadow: 2px 2px 2px 2px #1D5FA9;
	background-color: white;
	
}
.radio-one span {
	font-size:25px;
	line-height:50px;
	font-weight:400;
	color:#4c4c4b;
	text-transform:capitalize;
	display:block;
}
.radio-slider {
	width: 100% !important;
	float: left;
}
.radio-slider .owl-item {
	float: left;
}
.radio-section .owl-next {
	position:absolute;
	right:-8.4%;
	top:55px;
	text-indent:-99999px;
	background:url(../images/next-arw.png) no-repeat left top;
	width:25px;
	height:63px;
	cursor:pointer;
}
.radio-section .owl-prev {
	position:absolute;
	left:-8.4%;
	top:55px;
	text-indent:-99999px;
	background:url(../images/perv-arw.png) no-repeat left top;
	width:25px;
	height:63px;
	cursor:pointer;
}
/* Testimonial css */
.testimonial-section {
	width:100%;
	display:block;
	text-align:center;
	background:#fff;
	position:relative;
	float:left;
	padding:52px 0 122px 0;
}
.testimonial-section p {
	font-size: 30px;
	line-height: 50px;
	font-weight: 400;
	color: #4c4c4b;
	margin: 0;
	text-align: center;
	padding: 12px 0 0 0;
	letter-spacing: 1px;
}
.singlepost-section {
	width:100%;
	display:block;
	text-align:center;
	background:#fff;
	position:relative;
	float:left;
	padding:10px 0 20px 0;
}
.singlepost-section p {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
	margin: 0;
	text-align: center;
	padding: 4px 0 0 0;
	letter-spacing: 1px;
	text-align:justify;
}
.singlepost-section h2 {
	color: #4c4c4b;
	font-size: 36px;
	font-weight: 300;
	line-height: 62px;
	margin: 0 0 0 9px;
	text-align: left;
	text-decoration: none;
	text-transform: capitalize;
}
.singlepost-section h3{color: #4c4c4b; font-size:22px; font-weight:400; line-height:34px; text-align:left; text-decoration: none; text-transform:capitalize;}
.scrollToTop{width:100px; height:70px; padding:10px; text-align:center; background:whiteSmoke; font-weight:bold; color:#444; text-decoration:none; position:absolute; display:none; background:url('arrow_up.png') no-repeat 0px 20px; position:absolute; right:114px; bottom:22px; float:right;}
/* footer css*/
.footer {
	width:100%;
	float:left;
	background:#fff;
}
.footer-menu {width: 96.9%;float: left;}
ul.footer-menu
{list-style-type: none;
    margin: 0;
    padding:0;}
ul.footer-menu li{display:inline-block; padding:0 4px; color:#2b2e33; margin-top:2px; vertical-align:top; line-height:16px; border-right:1px solid #2d3348;}
.footer-wrap{width:100%; margin:0; float:left;}
.footer-wrap ul{list-style:none; float:left; width:70%; text-align:left; margin-top:2%;}
ul.footer-menu li:last-child{border-right:none;}
.footer-wrap ul li a {
	font-size:16px;
	font-weight:400;
	color:#2b2e33;
	margin:0 5px;
	text-align:left;
	text-transform:capitalize;}
.address {
	float:left;
	width:100%;
	text-align:left; margin-top:10px;}
.address ul {
	list-style:none;
	width:100%;}
.address ul li {
	font-size:16px;
	line-height:29px;
	font-weight:400;
	color:#fff;
	margin:0;
	text-align:left;}
.footer-right {
	float:right;
	width:20%; text-align:center;}
.footer-logo {
	display: block;
	padding: 10px 0 22px 0;}
.footer-social {
	float:left; width:20%;}
.footer-social a {
	background: url(../images/footer-social.png) left top no-repeat;
	width: 41px;
	height: 41px;
	float: left;
	margin-right: 11px;}
.footer-social a:hover {
	opacity: 0.8}
.footer-social a.ftw {
	background-position: 0 0;}
.footer-social a.ffb {
	background-position: -52px 0;}
.footer-social a.fgplus {
	background-position: -104px 0;}
.go-up-btn {
}
.portfolioFilter a {
	margin-right: 10px;
	color:#666;
	text-decoration:none;
}
.portfolioFilter a.current {
	font-weight:bold;
}
.gallerySlider {
	width: 100% !important;
	float: left;
}
.gallerySlider .owl-item {
	float: left;
}
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	/* pointer-events: none; */
    z-index: 1;
}
.isotope,  .isotope .isotope-item {
	/* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;}
.isotope .isotope-item {-webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; transition-property: transform, opacity;}
/*-----contact-us form----*/
.enquiry_button {
	width: 120px;
	height: 50px;
	cursor: pointer;
	border: none;
	/*margin-left: 470px;*/
	margin-top: 6px;
	margin-left:6px;
	outline: none;
	background-color: #2A72BF;
	border-radius: 3px;
	color: #fff;
	float:left;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;}
.enquiry_button:hover {
	width: 120px;
	height: 50px;
	cursor: pointer;
	border: none;
	/*margin-left: 470px;*/
	margin-left:6px;
	margin-top: 6px;
	outline: none;
	background-color: #666666;
	border-radius: 3px;
	color: #fff;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;}
.bnnr_contact {
	font-family: 'PT Sans', sans-serif;
	outline:none;
	border:none;
	height:50px;
	line-height:35px;
	/*width:350px;*/
	margin:0 0 11px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border:solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:1px 1px 2px rgba(50, 50, 50, 0.5);
	padding: 0 10px;
	font-size:16px;
	text-shadow:1px 1px 1px #fff;
	color:#666;}
.ssr_fname {
	font-family: 'PT Sans', sans-serif;
	outline:none;
	border:none;
	height:50px;
	line-height:35px;
	width: 80%;
	margin: 6px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border:solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:1px 1px 2px rgba(50, 50, 50, 0.5);
	padding: 0 10px;
	font-size:16px;
	text-shadow:1px 1px 1px #fff;
	color:#666;
	float:left;}
.ssr_lname {
	font-family: 'PT Sans', sans-serif;
	outline:none;
	border:none;
	height:50px;
	line-height:35px;
	width: 80%;
	float:left;
	margin: 6px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border:solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:1px 1px 2px rgba(50, 50, 50, 0.5);
	padding: 0 10px;
	font-size:16px;
	text-shadow:1px 1px 1px #fff;
	color:#666;}
.ssr_email {
	font-family: 'PT Sans', sans-serif;
	outline:none;
	border:none;
	height:50px;
	line-height:35px;
	width: 80%;
	float:left;
	margin: 6px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border:solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:1px 1px 2px rgba(50, 50, 50, 0.5);
	padding: 0 10px;
	font-size:16px;
	text-shadow:1px 1px 1px #fff;
	color:#666;}
.ssr_phone {
	font-family: 'PT Sans', sans-serif;
	outline:none;
	border:none;
	height:50px;
	line-height:35px;
	width: 80%;
	float:left;
	margin: 6px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border:solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:1px 1px 2px rgba(50, 50, 50, 0.5);
	padding: 0 10px;
	font-size:16px;
	text-shadow:1px 1px 1px #fff;
	color:#666;}
.bnnr_contact_textarea {
	outline:none;
	height:120px;
	line-height:24px;
	font-size:16px;
	width: 80%;
	margin: 6px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border:solid 1px #dfdfdf;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.5);
	padding: 9px 12px 5px;
	text-shadow:1px 1px 1px #fff;
	color:#666;
	font-family: 'PT Sans', sans-serif;
}
.ssr_contact {
	width:100%;
	padding:0px;
	margin:auto;
	/*padding-left: 22px;*/
}
.ssr_contactform7_code {
	float:left;
	/*width:650px;*/
	margin:22px 10px;
	list-style:none;
	/*-moz-box-shadow: -1px 2px 17px -1px #000;
	-webkit-box-shadow: -1px 2px 17px -1px #000;
	box-shadow: -1px 2px 17px -1px #000;*/
	border-radius: 5px;
	min-height:400px;}
.ssr_contact h1 {
	font-size:25px;
	font-weight:normal;
	color:#2A72BF;
	font-style:normal;}
.ssr_contact .contact_address {
	/*padding-right:10px;*/
	float: left;
	padding:5%;
	width: 90%;
	height: auto;
/*	border-radius: 5px;*/
	margin: 30px 7px 0 0px;
	min-height: 285px;}
	.page-template-contact-page-php .col-3{padding-right:20px;}
.contact_address {
	-moz-box-shadow: 0px 0px 4px -2px #000;
	-webkit-box-shadow: 0px 0px 4px -2px #000;
	box-shadow:0px 0px 4px -2px #000;
	line-height:23px;
	min-height: 367px;
	width: 300px;}
.contact_map {
	width:100%;
	padding:0px;
	margin:2px 0 0 0px;
	border:4px solid #ccc; border-radius:5px;}
.wpcf7-validation-errors, .not-valid-tip, .wpcf7-not-valid-tip-no-ajax { font-size: 10px; color: red; }
.wpcf7-mail-sent-ok { font-size: 10px; color: green; width: 230px; margin: 5px auto 0 auto; }
.wpcf7-form .invalid { clear: left; position: absolute; }
.wpcf7-validation-errors { color: blue; display: none !important; }
.wpcf7-not-valid-tip { position: absolute; clear: left; z-index: 100; background: rgba(255,255,255,0.5); border: 1px solid #fff; font-size: 10pt; border-radius: 4px; padding: 6px; color: black; margin: -25px 0 0 30px; }
.form-allowed-tags{ display:none !important;}
/*.comment-form-author{ border:1px solid red;}*/

/*================New Css================*/
.singlepost-section h2{font-size:50px; text-align:center !important;}
.innercontainer .padd h2{font-size:50px; margin-bottom:15px; font-weight:300;}
.page-template-contact-page-php .padd h2{padding-bottom:25px;}
.innercontainer .padd{width:96%; float:left; padding:2% 2%;}
.news-onehome iframe{width:100%; height:305px;}
.innercolpadd .news-one h4 a{font-size:20px; line-height:26px;}
.innercolpadd .news-one iframe{width:100%; height:220px;}
.innercolpadd .news-one p{padding-bottom:0;}
/*.news-onehome h4{min-height:60px;}*/
.innercolpadd .news-one p{padding-top:0;}
.news-onehome .cont{position:absolute; width:100%; left:0;}
.custom-text{float:left; width:100%; font-size:24px; line-height:28px;}
.custom-social{position:absolute; bottom:14px; width:100%; text-align:center;}
.infographic-slider img{width:auto;}
.gallery-section img{margin:0 auto;}

.listing li.innercolpadd {list-style:none; border-bottom:2px dashed #cccccc; padding-bottom:20px; margin-bottom:6px; list-style:none;}
.listing .news-one{min-height:360px;}
.listing .news-one:hover{min-height:360px;}
.single .innercontainer .padd h2{font-size:42px; line-height:44px;}
.events-table th{padding-bottom:10px;}
.events-table{width:98%;}

.default-page .left-section{width:72%;padding:4px;float:left;}
.default-page .right-section{width:25%;float:right;}
.contact-page .col-10{width:92%; float:left;}
p.tag-anchor{width:100%; text-align:center; clear:both;}
.notification-slider .news-onehome{min-height:460px;}
.notification-slider .news-onehome:hover{min-height:460px;}
.tag-anchor a{color:#444;}
.tag-anchor1 a{color:#D2474D;}
.related-list li{list-style:none; border-bottom:2px dashed #cccccc; padding-bottom:5px; margin-bottom:10px; float:left;}
/*.related-list li img{box-shadow:1px 1px 1px 1px #888; -moz-box-shadow:1px 1px 1px 1px #888; -webkit-box-shadow:1px 1px 1px 1px #888; -ms-box-shadow:1px 1px 1px 1px #888; -o-box-shadow:1px 1px 1px 1px #888;}*/
.related-list li img:hover{box-shadow:1px 1px 1px 1px #ff8100; -moz-box-shadow:1px 1px 1px 1px #ff8100; -webkit-box-shadow:1px 1px 1px 1px #ff8100; -ms-box-shadow:1px 1px 1px 1px #ff8100; -o-box-shadow:1px 1px 1px 1px #ff8100;}
.css-events-list tr:hover{box-shadow:1px 1px 2px 2px #ff8100; -moz-box-shadow:1px 1px 2px 2px #ff8100; -webkit-box-shadow:1px 1px 2px 2px #ff8100; -ms-box-shadow:1px 1px 2px 2px #ff8100; -o-box-shadow:1px 1px 2px 2px #ff8100;}
.css-events-list td{padding:5px 0 0 0;}

.author2{width:100%; float:left;}
.author2 ul{width:100%; float:left; margin:15px 0 0 0;}
.author2 ul h2 a{color:#4c4c4b;}

/*================Modified Header======================*/
.home-header{position:relative; width:100%; float:left;}
.home-header .header-top{position:absolute; top:0; width:100%;}
.home-header .header-bottom{position:absolute; bottom:0; margin:0;}

.fixed-header{position:fixed !important; top:0; left:0; width:100%; height:116px; z-index:99999999 !important;}
.page-content{width:100%; float:left; margin:25px 0;}
.page-content ul{list-style:none; margin:0 0 20px 0;}
.page-content ul li{line-height:26px;}
.page-content ul li a{color:#444; background: url(../images/icon_pdf.png) no-repeat right center; padding: 5px 28px 5px 0;}
.page-content ul li a:hover{color:#009;}
.page-content form{margin-top:15px; width:100%; float:left;}
.page-content input[type="text"], .page-content input[type="email"], .page-content textarea{width:260px; padding:10px 5px; border:1px solid #999; margin-bottom:10px; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.page-content .enquiry_button{margin-left:0;}

.center-gallery .header-middle .bx-next {right:-2%; top:45%;}
.center-gallery .header-middle .bx-prev {left:-2%; top:45%;}

.responsive-ico{display:none;}
.event-calendar td{padding:5px; text-align:center;}
.event-calendar td a{color:#444;}
.event-calendar .month_name{font-weight:bold;}
.event-calendar td.eventful a, .event-calendar td.eventful-pre a{background:#dcdcdc; padding-left:5px; padding-right:5px; color:#000;}
.event-pg .col-8{width:65%; min-height:360px; border-right:2px dashed #cccccc; margin-right:3%; border-top:2px dashed #cccccc; padding-top:25px;}
.event-pg .col-2{width:22%;}

.f2{text-align:center; margin:10px 0 0;}
.f2 li{list-style:none; display:inline-block; vertical-align:top; margin:0 5px;}

.author2 .a1 h2 a{background:url(../images/author2.png) no-repeat; width:119px; height:99px; display:inline-table; font-size:0;}
.author2 .a2 h2 a{background:url(../images/author3.png) no-repeat; width:220px; height:59px; display:inline-table; font-size:0;}
.author2 .a3 h2 a{background:url(../images/author1.png) no-repeat; width:317px; height:35px; display:inline-table; font-size:0;}

.term-news-straits-time h2 span{background:url(../images/author1.png) no-repeat; width:317px; height:35px; display:inline-table; font-size:0;}
.term-news-straits-time .padd h2{padding-top:0;}

.term-metro h2 span{background:url(../images/author3.png) no-repeat; width:220px; height:59px; display:inline-table; font-size:0;}
.term-metro .padd h2{padding-top:0;}

.term-berita-harian h2 span{background:url(../images/author2.png) no-repeat; width:119px; height:99px; display:inline-table; font-size:0;}
.term-berita-harian .padd h2{padding-top:0;}

.embed-link{clear:both; text-align:center;}
.embed-link > a{color:#2b2e33;}
.embed-link > a:hover{text-decoration:underline;}

.blueprint-featured{width:100%; float:left; position:relative;}
.blueprint-featured img{width:100%; height:auto;}
.featured-content{width:100%; position:absolute; top:20%;}
.featured-content h3{color:#fff; font-size:30px; font-weight:400; text-shadow:1px 2px 2px #000}
.featured-content .innercontainer1{margin:0 auto; max-width: 1124px; padding:20px 0 0;}

.slide-text{position:absolute; top:15%; width:100%;}
.home-header .header-middle .innercontainer1{margin:0 auto; max-width: 1124px; padding:20px 0 0;}
.slide-text h3{color: hsl(0, 0%, 100%); font-size: 30px; font-weight: 400; text-shadow: 1px 2px 2px hsl(0, 0%, 0%);}
.slide-text h3 a{color:#fff;}
.innercontainer .news-one{width:100%;}
.innercontainer .news-one:hover{width:100%;}

.filter-posts{width:100%; float:left;}
.etabs {margin:0 0 15px 1%; padding:0; width:99%;}
#tabs1-js p{padding-left:1%;}
.tab {display: inline-block; zoom:1; *display:inline; background:#e6e6e6; border-bottom: none; list-style:none; width:48.5%; text-align:center;}
.tab a {font-size:17px; line-height:2em; display:block; padding:5px 20px; outline:none; color:#444;}
.tab a:hover {background:#94e048; color:#fff;}
.tab.active { background: #fff; position: relative;}
.tab a.active {background:#94e048; color:#fff;}
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
.responsive-event{border-bottom:2px dashed #cccccc; margin-bottom:10px;}
.event-calendar h3{border-bottom:2px solid red; line-height: 40px; margin-bottom: 10px; padding-bottom: 5px; font-family:"Open Sans",sans-serif !important; font-weight:400; font-size:22px;}
.em-search-wrapper{display:none;}
.event-pg .col-8 a, .single-event .css-events-list a{color:#94e048;}
.footer-social ul{width:100%; text-align:center;}
.footer-inner .footer-wrap ul{width:78%;}
.new-page .col-8{border-right:2px dashed #cccccc; margin-right:3%; width:79%;}
.btn-group a{margin-left:1px; margin-right:1px;}
.related-social {float: left; margin: 10px 0; width: 100%;}
.related-list li:last-child{border-bottom:none;}

.header a.tw{color:#010101; background:#fff;}
.header a.tw:hover{color:#fff; background:#00aced;}

.social-icons li{list-style:none; display:inline-block; vertical-align:top;}
.social-icons li img{float:left;}
.footerinner{width:100%; float:left; border-top:2px dashed #cccccc; padding:20px 0 15px; margin-top:15px;}

.footer-inner{margin-top:15px;}
.social-icons{text-align:center;}

/*.innerheader .menu ul li a{padding:0 8%;}*/
.blue{color:#1569ec !important;}
.purple{color:#6a1a8d !important;}
.light-blue{color:#37a3c8 !important;}
.yellow{color:#edc46b !important;}
.red{color:red;}

.page-id-107 .tab a.active, .page-id-107 .tab a:hover{background:#6a1a8d;}
.page-id-112 .tab a.active, .page-id-112 .tab a:hover{background:#1569ec;}
.page-id-440 .tab a.active, .page-id-440 .tab a:hover{background:#37a3c8;}
.page-id-199 .tab a.active, .page-id-199 .tab a:hover{background:#edc46b;}
.single-videos .padd h2{font-size:42px; line-height:46px;}
.single-videos p{margin-bottom:10px;}
.remove-menu .mean-bar{display:none;}

.glanguage{text-align:right; margin:0 0 15px 0;}
.glanguage1{text-align:left;}

.single .news-onehome h4 a{color:#0f6eac;}


.language-plugin{width:100%; padding:2% 0 0 0; float:left;}
.language-plugin .glanguage{margin-right:5.5%;}
.page-template-tpl_full_width-php .page-content{margin-top:0;}
.page-template-tpl_full_width-php h2{line-height:50px;}

.banner-slider { visibility: hidden; }
.menu ul li a font{font-size:13px;}
.home-header .menu li a font{font-size:15px;}




 @media only screen and (max-width: 1500px) {
.innerheader .menu ul li a{/*padding:0 4%;*/ font-size:16px;} 
	 
	 
	 
	 
}



@media only screen and (max-width: 1400px) {
.news-section .owl-next {right:0}
.news-section .owl-prev {left:0}
.video-section .owl-next {right:0%}
.video-section .owl-prev{left:0%}
.radio-section .owl-next {right:0%}
.radio-section .owl-prev {left:0%}
.header-middle img{display:block;}
.news-section .owl-next, .center-gallery .header-middle .bx-prev, .center-gallery .header-middle .bx-next {top:-80px;}
.news-section .owl-prev {top:-80px;}
#gallery .owl-prev{top:-143px; left:2%}
#gallery .owl-next{top:-143px; right:2%}
.radio-section .owl-next{top:-100px;}
.radio-section .owl-prev{top:-100px;}
.video-section .owl-prev{top:-100px;}
.video-section .owl-next{top:-100px;}
.menu ul li a{padding:0 10px;}
.center-gallery .header-middle .bx-next {right:0%;}
.center-gallery .header-middle .bx-prev {left:0%;}


}

 @media only screen and (max-width: 1280px) {
.header-bottom ul li a span{font-size:16px;}
/* .nav {padding: 0 0 0 3.15%;}*/
.menu ul li a{font-size: 14px;}
.banner-text{top:51px;}
.banner-text h2{font-size:52px; line-height:58px;}
.banner-text h3{font-size:32px; line-height:51px;}
.header-middle .bx-next{top:50%;}
.header-middle .bx-prev {top:50%;}
.news-section h2, .gallery-section h3, .video-section h3, .radio-section h3, .testimonial-section h3 {font-size:36px;}
.gallery-wrap ul.gallery-tab li a{font-size:22px; width:19.7%; border-left:2px solid #4c4c4b; border-right:none; border-top:2px solid #4c4c4b; border-bottom:2px solid #4c4c4b;}
.gallery-wrap ul.gallery-tab li:first-child a{font-size:22px; width:19.7%; border-left:2px solid #4c4c4b; border-right:none; border-top:2px solid #4c4c4b; border-bottom:2px solid #4c4c4b; border-radius:5px 0 0 5px;}
.gallery-wrap ul.gallery-tab li.last a{font-size:22px; width:19.7%; border-right:2px solid #4c4c4b; float:left; border-radius:0 5px 5px 0;}
.radio-one span, .video-one span{font-size:20px}
.testimonial-section p{font-size:20px;}
.address ul{width:100%;}
.footer-right {padding-left:0}
.go-up-btn {right:2%;}
.header-middle img {display: block;}
.gallery-wrap ul.gallery-tab {border:none;}
.scrollToTop {right:5px;}
.innercontainer .padd h2{line-height:40px;}
.innerheader .menu ul li a{padding:0 4%; font-size:14px;}
.nav{margin:0 0 0 6%;}

}

@media only screen and (max-width: 1200px) {
.desktop-logo{display:none;}
.responsive-logo{display:block;}
.header-top{display:none;}
.responsive-logo img{width:200px; padding:15px 0 15px 15px;}
.innercontainer{padding-top:60px;}
.mean-container .mean-bar{position:fixed;}
.home .mean-bar{/*position:relative;*/ background:rgba(0,0,0,0.6)}
.home .mean-nav{background:rgba(0,0,0,0.6)}
.default-page{margin-top:40px;}
.page-id-116 .default-page{margin-top:60px;}
.featured-content .innercontainer1{max-width:96%;}
.slide-text{max-width:96%; padding:0 2%;}
.col-3.innercolpadd {width:31%;}


}


@media only screen and (max-width: 1024px) and (min-width: 768px) {
.mainContr.down{position:relative; margin-top:0px;}
.header{width:100%; float:left;padding-top: 0px;}
.header-bottom.smaller {position:fixed; z-index:9;}
.header-bottom ul li a span{font-size:12px;}
.banner-text{left:50%; margin-left:-215px;}
.gallery-wrap ul.gallery-tab{border:none;}
.breadcumclass a{color:#333333; text-decoration:none;}
.breadcumclass a:link{color:#333333; text-decoration:none;}
.breadcumclass a:hover{color:#333333; text-decoration:underline;}
.gallery-wrap ul.gallery-tab li a {font-size: 20px; width:19.7%; border-left:2px solid #4c4c4b; border-right:none; border-top:2px solid #4c4c4b; border-bottom:2px solid #4c4c4b;}
.gallery-wrap ul.gallery-tab li:first-child a {font-size: 20px; width:19.7%; border-left:2px solid #4c4c4b; border-right:none; border-top:2px solid #4c4c4b; border-bottom:2px solid #4c4c4b; border-radius: 5px 0 0 5px;}
.gallery-wrap ul.gallery-tab li.last a {border-right:2px solid #4c4c4b; float: left; width: 19.7%; font-size: 20px; border-radius:0 5px 5px 0;}
.testimonial-section{padding:40px 0 80px 0;}
.testimonial-section p {line-height:38px;font-size:24px;}
img {display: inline-block;}
.header-middle img {display: block;}
.footer-wrap ul li a, .address ul li {font-size:14px;}
.footer {padding:20px 0;}
.scrollToTop {right:5px;}
.news-onehome iframe{height:260px;}
.innercontainer .col-8{width:75%;}
.innercontainer .col-2{width:22%;}
.innercolpadd .news-one h4 a{font-size:18px; line-height:24px;}
.innercontainer .padd h2, .single .innercontainer .padd h2, .singlepost-section h2{font-size:36px;}

.home-header .header-middle{/*max-height:329px; */overflow:hidden;}
.event-pg .col-8{border-right:none; min-height:200px;}
.owl-carousel .owl-wrapper-outer{padding-left:0 !important; padding-right:0 !important;}

.new-page .col-8{width:74%;}

}

@media (max-width: 990px){
.news-onehome{width:320px; padding:10px; margin:0 auto}
.news-onehome:hover{width:320px; padding:10px;}
.news-onehome h4, .custom-text{font-size:20px; line-height:24px;}
.news-onehome img{max-height:240px;}
.news-onehome .cont{position:absolute; left:0;}
.news-onehome iframe{height:260px;}
.news-onehome iframe{height:260px;}
.innercontainer .col-8{width:75%;}
.innercontainer .col-2{width:22%;}
.innercolpadd .news-one h4 a{font-size:18px; line-height:24px;}
.col-3.innercolpadd{width:46%;}
.home-header .header-middle{/*max-height:329px;*/ overflow:hidden;}
.css-events-list{overflow-x:scroll; position:relative; width:100%;}
.events-table{padding-bottom:15px; width:768px !important;}
.footer-wrap ul{width:100%; text-align:center;}
.footer-right{width:100%;}
.footer-social{width:100%;}
.footer-right{margin:5px 0;}

.owl-carousel .owl-wrapper-outer{padding-left:0 !important; padding-right:0 !important;}
.footer-inner .footer-wrap ul{width:100%;}

.new-page .col-8{width:72%;}
.home-footer .footer-menu{width:100%;}
.innerheader .logo{max-width:180px;}



.home .glanguage{text-align:center;}
.slide-text h3{font-size:24px;}


 }
 
 
 
 @media only screen and (max-width: 990px) and (min-width: 768px) {
 .gallery-wrap ul.gallery-tab {
border:none;
}
 .gallery-wrap ul.gallery-tab li a {
width:19.6%;
border-left:2px solid #4c4c4b;
border-right:none;
border-top:2px solid #4c4c4b;
border-bottom:2px solid #4c4c4b;
}
 .gallery-wrap ul.gallery-tab li:first-child a {
width:19.6%;
border-left:2px solid #4c4c4b;
border-right:none;
border-top:2px solid #4c4c4b;
border-bottom:2px solid #4c4c4b;
border-radius: 5px 0 0 5px;
}
 .gallery-wrap ul.gallery-tab li.last a {
border-right:2px solid #4c4c4b;
float: left;
width: 19.7%;
border-radius:0 5px 5px 0;
}
 img {
display: inline-block;
}
 .header-middle img {
display: block;
}


.news-onehome {
	background:#fff;
	width:100%;
	/*padding:18px 18px 18px 18px;*/
	padding:0 0 18px 0;
	text-align:center;
	min-height:405px;
	position:relative;
	/*border:1px solid #BFBBBB;*/
	/*border-radius:6px;*/
}


.news-onehome:hover {
	background:#fff;
	width:100%;
	/*padding:18px 18px 18px 18px;*/
	padding:0 0 18px 0;
	text-align:center;
	min-height:405px;
	position:relative;
	/*border:1px solid #BFBBBB;*/
	/*border-radius:6px;*/
	box-shadow: 2px 2px 2px 2px #ff8100;
}


 .news-one p {
padding-top:15px;
}
 .stylish-select .select-btn .selectedTxt, .stylish-select .select-btn ul.newList a {
font-size:12px;
}
.news-onehome{width:320px; padding:0;}
.news-onehome:hover{width:320px; padding:0;}
.news-onehome h4, .custom-text{font-size:20px; line-height:24px;}
.news-onehome img{max-height:240px;}
.news-onehome .cont{position:absolute; left:0;}
.news-onehome iframe{height:260px;}
.event-pg .col-8 {width:100%; border-top:none; margin-right:0;}
.event-pg .col-2{width:100%;}
.event-pg .desk-view{display:none;}
.event-pg .responsive-ico{display:block;}
/*.event-calendar{margin:15px auto; text-align:center; width:237px;}*/
.footer-inner .footer-wrap ul{width:100%;}
 .res_menu {
display:block;
} .res_menu ul li {
display:block;
} 
.innerheader .res_menu ul li img.click {
margin-left: -36px;
    position: absolute;
    top: 25px;
    width: 20px;
}




.innerheader .search-wrap{left:-10%; margin-top:18px;}


.home-header .nav{width:100%; padding-left:0;}
.home-header .logo{position:absolute; top:0;}
.home-header .header-top {height: 55px;}
.home-header .search-wrap{left:-10%; margin-top:18px;}
.home-header .menu{top:56px;}
.home-header .res_menu ul li img.click {
margin-left: -36px;
    position: absolute;
    top: 25px;
    width: 20px;
}


}
 @media only screen and (max-width:767px) {
 img {
display: inline-block;
width:50%;
float:left;
}

.event-pg .col-8 {border-top:none;}
.innercontainer .padd h2{font-size:32px;}
/*.header-bottom.smaller 
 {
 top: 60px !important;

}*/
 .logo {
line-height: 67px;
position: relative;
text-align: center;
top: 8px;
width:90% !important;
/*width:300px;*/

}
 .container {
max-width:481px;
}
.header-middle img {
display: block;
}
 .nav {
width:100%;
text-align:center;
padding:0;
margin:0 0 0px 0;
}


.banner-text {
left: 50%;
margin: 0 0 0 -110px;
position: absolute;
text-align: center;
top:20px;}
.banner-text h2 {
font-size: 21px;
line-height: 30px;
letter-spacing:0;}
.banner-text h3 {
font-size: 16px;
line-height: 25px;
letter-spacing:0;}
.header-bottom ul li a span {
font-size: 12px;}
.news-one p {font-size:11px;}
.header-bottom {
	width:100%;
	display:block;
	text-align:center;
	float:left;
	z-index:999;
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	position:relative;
	margin-top:-61px;
}
.header-bottom ul li a span {display:none;}
 .footer-right {
padding:0;
float:left;
text-align:center;
width:100%;
margin:30px 0 0 0;
}
 .footer-wrap ul li a, .address ul li {
font-size:14px;
}
 .footer-social {
float: none;
text-align: center;
}
 .footer-social a {
display: inline-block;
float:none;
}
 .header-middle .bx-prev {
background: url("../images/br.png") no-repeat scroll left top transparent;
/*top:78px*/
}
 .header-middle .bx-next {
background: url("../images/fr.png") no-repeat scroll left top transparent;
/*top:78px;*/
}
 .news-section .owl-next {
background: url("../images/fr.png") no-repeat scroll right top transparent;
top:-57px;
}
 .news-section .owl-prev {
background: url("../images/br.png") no-repeat scroll left top transparent;
top:-57px;
}
 .video-section .owl-next {
background: url("../images/fr.png") no-repeat scroll right top transparent;
top:-82px;
}
 .video-section .owl-prev {
background: url("../images/br.png") no-repeat scroll left top transparent;
top:-82px;
}
 .radio-section .owl-next {
background: url("../images/fr.png") no-repeat scroll right top transparent;
top:-82px;
}
 .radio-section .owl-prev {
background: url("../images/br.png") no-repeat scroll left top transparent;
top:-82px;
}
 #gallery .owl-next {
background: url("../images/fr.png") no-repeat scroll left top transparent;
top:-127px;
}
 #gallery .owl-prev {
background: url("../images/br.png") no-repeat scroll left top transparent;
top:-127px;
}
.gallery-wrap ul.gallery-tab {
border:none;}
 .gallery-wrap ul.gallery-tab li a {
font-size:11px;
width:19%;;
border-left:2px solid #4c4c4b;
border-right:none;
border-top:2px solid #4c4c4b;
border-bottom:2px solid #4c4c4b;
}
 .gallery-wrap ul.gallery-tab li:first-child a {
font-size:11px;
width:19%;;
border-left:2px solid #4c4c4b;
border-right:none;
border-top:2px solid #4c4c4b;
border-bottom:2px solid #4c4c4b;
border-radius: 5px 0 0 5px;background-color:#FFFFFF;
}
.gallery-container ul li {
width:50%;}
 .gallery-wrap ul.gallery-tab li.last a {
border-right:2px solid #4c4c4b;
float: left;
padding-left: 0.03%;
Width: 21%;
font-size:11px;
border-radius:0 5px 5px 0;background-color:#FFFFFF;
}
 .address {
width:100%;
float:none;
display:block;
text-align:left;
margin:20px 0;
}
.address ul {width:100%; float:none; display:block; text-align:center;}
.address ul li{text-align:center;}
.sec{width: 50%;}
.scrollToTop {right:5px;}
.testimonial-section p {line-height:28px;}
.news-social a {margin-left:3px;}
.mainContr.down {margin-top:0px;}
.responsive-cont{position:absolute; bottom:15px; left:0; width:100%; text-align:center;}
.innercontainer .col-8{width:100%;}
.innercontainer .col-2{width:96%; padding:0 2%; clear:both;}
.listing .news-one img{width:100%;}
.fixed-header{height:65px;}
/*.event-calendar{margin:15px auto; text-align: center; width:237px;}*/
.header-top {height:55px;}

.home-header .nav{width:100%; padding-left:0;}
.home-header .logo{position:absolute;}
.header-top {height: 55px;}
.home-header .res_menu ul li img.click{top:22px;}
.home-header .logo{top:19px;}
.home-header .search-wrap{margin-top:15px;}
.home-header .menu{top:56px;}
}
 @media only screen and (max-width:479px) {



/* .search-wrap{left:33.5%;} */



.news-section .owl-next {
right:0
}
 .news-section .owl-prev {
left:0
}
 .video-section .owl-next {
right:0
}
 .video-section .owl-prev {
left:0
}
 .radio-section .owl-next {
right:0
}
 .radio-section .owl-prev {
left:0
}
 #gallery .owl-next {
background: url("../images/fr.png") no-repeat scroll left top transparent;
top:-181px;
}
 #gallery .owl-prev {
background: url("../images/br.png") no-repeat scroll left top transparent;
top:-181px;
}
 .gallery-wrap ul.gallery-tab {
/*border:2px solid #4C4C4B;*/
border-radius:6px;
}
 .gallery-wrap ul.gallery-tab li a {
font-size:14px;
line-height:20px;
width:100%;
border:none;
border-bottom:2px solid #4C4C4B;
border-radius:6px;
}
 .gallery-wrap ul.gallery-tab li:first-child a {
font-size:14px;
line-height:20px;
width:100%;
border:none;
border-bottom:2px solid #4C4C4B;
border-radius:6px;
}
 .gallery-wrap ul.gallery-tab li.last a {
border-bottom:none;
border:none;
width:100%;
font-size:14px;
line-height:20px;
}
 .banner-text {
top:10px;
}
 .banner-text h2 {
font-size:19px;
}
 .footer-wrap ul {
width:100%;
float:none;
display:block;
text-align:center;
}
 .address {
width:100%;
display:block;
margin:20px 0;
}
 .address ul {
width:100%;
float:none;
display:block;
text-align:center;
}
 .address ul li {
text-align:center;
}
 .sec {
width: 100%;
}
}



/*Custommedia qureies*/

.col-1{
width:10%;
float:left;
}
.col-2{
width:16%;
float:left;
}
.col-3{
width:31%;
float:left; list-style:none;
}
.col-4{
width:40%;
float:left;
}
.col-5{
width:50%;
float:left;
}
.col-6{
width:60%;
float:left;
}
.col-7{
width:70%;
float:left;
}
.col-8{
width:84%;
float:left;
}
.col-9{
width:90%;
float:left;
}
.col-10{
width:100%;
float:left;
}

.innercolpadd
{
padding:10px;
}

.facebookplugin
{
margin-top:10px;
}

.bottomlogo img
{
padding-top:10px;
padding-bottom:10px;
}

@media screen and (max-width: 767px){
body{-webkit-text-size-adjust: none;}	
.mytwitterstyle
{
border:0px solid red;
font-size:12px;
padding:2px;
}
/*img.footerbrandclass
{
border:0px solid red;

height:65px !important;
width:45% !important;
}*/

img.singlepostinnerimg
{
height:100%;
padding:2px 4px 4px 8px;
}

.facebookplugin
{
margin-top:80px;
}

.go-up-btn {
right:2%;
}

.go-up-btn img
{
float:right;
width:30%;
}


.bottomlogo img
{
padding-top:2px;
position:absolute;
margin-left:-44px;
}

.news-one {
	background:#fff;
	width:100%;
	/*padding:18px 15px 18px 15px;*/
	padding:0 0 18px 0;
	text-align:center;
	min-height:440px;
	position:relative;
	/*border:1px solid #BFBBBB;*/
	/*border-radius:6px;*/

}
.news-one:hover {
	background:#fff;
	width:100%;
	/*padding:18px 15px 18px 15px;*/
	padding:0 0 18px 0;
	text-align:center;
	min-height:440px;
	position:relative;
	/*border:1px solid #BFBBBB;*/
	/*border-radius:6px;*/
	box-shadow: 2px 2px 2px 2px #ff8100;
}
.news-onehome {
	background:#fff;
	width:86%;
	/*padding:18px 15px 18px 15px;*/
	padding:0 0 18px 0;
	text-align:center;
	min-height:440px;
	position:relative;
	/*border:1px solid #BFBBBB;*/
	/*border-radius:6px;*/
}
.notification-slider .news-onehome{min-height:440px;}
.news-onehome:hover {
	background:#fff;
	width:86%;
	/*padding:18px 15px 18px 15px;*/
	padding:0 0 18px 0;
	text-align:center;
	min-height:440px;
	position:relative;
	/*border:1px solid #BFBBBB;*/
	/*border-radius:6px;*/
	box-shadow: 2px 2px 2px 2px #ff8100;
}



.padd h2{
 font-size: 20px;
    font-weight: normal;
	padding:14px 10px 8px 0;
	text-align:center;
}

.video span.play-icon {
	background: url("../images/play.png") no-repeat scroll center center;
	cursor: pointer;
	height: 80px;
	left: 50%;
	margin-left: -40px;
/*	margin-top: -40px;
*/	position: absolute;
	top: 50px;
	width: 81px;
}

.btn-group2
{
padding:10px;
clear:both;
}

.col-1{
width:100%;
float:none !important;
}
.col-2{
width:94%;
float:none !important;
}
.col-3{
width:100%;
float:none !important;
}
.col-4{
width:100%;
float:none !important;
}
col-5{
width:100%;
float:none !important;
}
.col-6{
width:100%;
float:none !important;
}
.col-7{
width:100%;
float:none !important;
}
col-8{
width:100%;
float:none !important;
}
.col-9{
width:100%;
float:none !important;
}
.col-10{
width:100%;
float:none !important;
}

.news-onehome img{width:100%; max-height: 210px;}
.news-onehome h4{padding-top:10px; clear:both; margin-top:0;}
.news-onehome iframe{height:240px;}

.news-onehome{width:290px; padding:0; margin:0 auto;}
.news-onehome:hover{width:290px; padding:0;}
.news-onehome h4, .custom-text{font-size:20px; line-height:24px; /*min-height:70px;*/}
#radio .custom-text{padding-top:5px;}

.listing ul{text-align:center;}
.listing li.innercolpadd{display:inline-block; vertical-align:top;}
.listing .news-one img, .innercolpadd .news-one iframe{height:auto;}
.innercolpadd .news-one h4 a{font-size:16px; line-height:20px;}
.listing .news-one{min-height:300px;}
.listing .news-one:hover{min-height:300px;}
.footer-right img{width:auto;}
.listing1 .news-one img{padding-bottom:5px;}
.single .innercontainer .padd h2, .innercontainer .padd h2, .singlepost-section h2{font-size:22px; /*line-height:28px;*/}
.single .news-onehome, .single .news-onehome:hover{min-height:370px;}
.css-events-list{overflow-x:scroll; position:relative; width:100%;}
.events-table{width:768px !important; padding-bottom:15px;}
.myimageclass{padding-bottom:10px;}
.default-page .left-section{width:100%; padding:0;}
.singlepost-section h2{margin-left:0;}
.default-page{margin-top:20px;}
.page-template-contact-page-php .padd h2{padding-bottom:0;}
.contact-page .col-10{width:98%;}
.contact_map{width:98%; border:none;}
.contact-page .contact_address{width:96%; margin:30px auto; float:none; padding:4% 2%; min-height:180px;}
.contact_map iframe{border:4px solid #cccccc !important; float:left; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px;}
.related-list li img{float:none !important;}
.related-list li:last-child{border-bottom:none;}
.header-bottom ul li a img{float:none;}
.header-bottom ul li a{padding-left:2%; padding-right:2%;}

.home-header .header-middle img{min-height:250px;}
.desk-view{display:none;}
.responsive-ico{display:block;}
.testimonial-section iframe{max-width:260px;}
.responsive-ico .footer-right{float:left;}
.responsive-ico .footer-social{float:left; width:100%;}
.responsive-ico ul{text-align:center;}
.responsive-ico ul li{list-style:none; display:inline-block; vertical-align:top;}
.news-section h2{margin-left:0;}
.owl-carousel .owl-wrapper-outer{padding:6px 0 !important;}
.footer-wrap{width:100%; margin:0;}
.footerinner{padding:10px 0 25px;}
.footer-right img{float:none;}
.home-header .header-middle{/*max-height:245px;*/ overflow:hidden;}
.custom-social{width:100%;}
/*.header-top{margin-bottom:10px;}*/
.event-pg .col-8{min-height:200px; border-top:none; border-right:none;}
.new-page .col-8{border-right:none; margin-right:0;}
.logo img {width:177px;}

.radiopage .news-one img{max-height:170px;}
ul.footer-menu li{padding:0;}

.radiohome .news-onehome{min-height:375px;}
.radiohome .news-onehome:hover{min-height:375px;}
.single-featured img{width:auto; height:auto;}
.social-icons{text-align:center;}
.social-icons li img{width:auto; max-width:130px;}

.related-list li{width:100%;}

.tvpage .news-one{min-height:340px;}	
.tvpage .news-one:hover{min-height:340px;}
.page-template-contact-page-php .col-3{padding-right:0;}
.featured-content h3{font-size:20px;}

.glanguage, .glanguage1{text-align:center;}
.single .innercontainer .padd h2 img, .innercontainer .padd h2 img, .singlepost-section h2 img{margin-bottom:15px; width:auto;}
.myh3class{text-align:center;}
.default-page{margin-top:40px;}
.eventon_sf_field{margin-bottom:5px;}
.language-plugin .glanguage {
    margin:0;
}
.single .innercontainer .padd h2{line-height:30px;}
.slide-text h3{font-size:20px;}
.col-3.innercolpadd{width:280px;}
}

@media (max-width:400px){
.news-onehome img{max-height:190px;}	
.news-onehome{width:230px; min-height:360px;}
.notification-slider .news-onehome{min-height:360px;}
.notification-slider .news-onehome:hover{min-height:360px;}
.news-onehome:hover{width:230px; min-height:360px;}
.news-onehome h4, .custom-text{font-size:18px; line-height:22px;}
.news-onehome .cont{position:absolute; left:0;}	
.news-onehome iframe{height:190px;}	
.col-3.innercolpadd{width:90%;}	
.listing .news-one{min-height:240px;}
.listing .news-one:hover{min-height:240px;}
.listing1 .news-one img{max-height:230px;}
.listing1 .news-one{min-height:380px;}
.listing1 .news-one:hover{min-height:380px;}
.header-bottom ul li a{padding-left:1%; padding-right:1%;}
.responsive-ico .footer-social a{margin-right:1px;}
.author2 .a3 h2 a{width:300px; background-size:300px;}
.event-pg .col-8{margin-right:0;}
.tvpage .news-one{min-height:310px;}	
.tvpage .news-one:hover{min-height:310px;}
	
}

@media (max-width:320px){
.radiopage .news-one{min-height:350px;}
.radiopage .news-one:hover{min-height:350px;}	
.tvpage .news-one{min-height:310px;}	
.tvpage .news-one:hover{min-height:310px;}	
.newspage .news-one{min-height:320px;}
.newspage .news-one:hover{min-height:320px;}	


}


